p {
	font-size: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

h1,h2,h3,h4,h5,h6 {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

ul:not(.nav) {
	font-size: 1.5em;
}
ol:not(.nav) {
	font-size: 1.5em;
}

.container-fluid {
	margin: 1em;
}

.section {
	margin-top: 5em;
}

.caption {
	text-align: center;
	font-size: 1.2em;
	font-style: italic;
}